<div *ngIf="patient$ | async as patient; else loading">
  <h2>Patient Details: {{ patient.name }} </h2>

  <p><strong>Patient:</strong> {{ patient.name }}</p>
  <p><strong>Age:</strong> {{ patient.age }}</p>
  <p><strong>Diagnosis:</strong> {{ patient.diagnosis }}</p>
  <p><strong>Date of Birth:</strong> {{ patient.dateOfBirth  | date:'short' }}</p>
  <p><strong>Is Active:</strong> {{ patient.isActive ? 'Active' : 'Inactive' }}</p>
</div>

<button (click)="goBack()">← Back</button>

<ng-template #loading>
  Loading...
</ng-template>