<div class="notification is-success" *ngIf="showSuccess">
  <button class="delete" (click)="showSuccess = false"></button>
  Patient created successfully!
</div>

<div *ngIf="patient$ | async as patient; else loading">
  <h2 class="title is-4 has-text-dark">Patient Details: {{ patient.name }} </h2>
  <hr>
  <p><span class="has-text-weight-bold has-text-dark">Patient:</span> {{ patient.name }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Age:</span> {{ patient.age }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Diagnosis:</span> {{ patient.diagnosis }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Date of Birth:</span> {{ patient.dateOfBirth  | date:'short' }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Is Active:</span> {{ patient.isActive ? 'Active' : 'Inactive' }}</p>
</div>

<br>
<button class="button is-primary" (click)="goBack()">← Back</button>

<ng-template #loading>
  Loading...
</ng-template>