<div class="notification is-success" *ngIf="showSuccess">
  <button class="delete" (click)="showSuccess = false"></button>
  Doctor created successfully!
</div>

<div *ngIf="doctor$ | async as doctor; else loading">
  <h2 class="title is-4 has-text-dark">Doctor Details: {{ doctor.name }} </h2>
  <hr>
  <p><span class="has-text-weight-bold has-text-dark">Doctor:</span> {{ doctor.name }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Specialty:</span> {{ doctor.specialty }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Is Active:</span> {{ doctor.isAvailable ? 'Active' : 'Inactive' }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Years of Experience:</span> {{ doctor.yearsOfExperience }}</p> 
</div>

<br>
<button class="button is-primary" (click)="goBack()">← Back</button>

<ng-template #loading>
  Loading...
</ng-template>
