<div *ngIf="appointment$ | async as appointment; else loading">
  <h2 class="title is-4 has-text-dark">Appointment Detail</h2>
  <hr>
  <p><span class="has-text-weight-bold has-text-dark">Doctor:</span> {{ appointment.doctor.name }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Specialty:</span> {{ appointment.doctor.specialty }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Patient:</span> {{ appointment.patient.name }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Diagnosis:</span> {{ appointment.patient.diagnosis }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Start:</span> {{ appointment.startTime | date:'short' }}</p>
  <p><span class="has-text-weight-bold has-text-dark">End:</span> {{ appointment.endTime | date:'short' }}</p>
  <p><span class="has-text-weight-bold has-text-dark">Status:</span> {{ AppointmentStatus[appointment.status] }}</p>
</div>

<br>
<button class="button is-primary" (click)="goBack()">← Back</button>

<ng-template #loading>
  Loading...
</ng-template>