<div>
  <h2 class="title is-4 has-text-dark">Doctors</h2>

  <div *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class="notification is-danger" *ngIf="showDeleted">
    <button class="delete" (click)="showDeleted = false"></button>
    Doctor deleted successfully!
  </div>

  <ng-container *ngIf="doctors$ | async as doctors; else loading">
    <app-doctors-list [doctors]="doctors"
    (doctorSelected)="onDoctorSelected($event)">
    </app-doctors-list>
  </ng-container>

  <ng-template #loading>
    Loading...
  </ng-template>
  <br>
  <button class="button is-primary" (click)="onCreate()">Add Doctor</button>
</div>